<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>{{pageMessage}}</p>
    <p><a href="https://github.com/Moser-ss">Github page</a></p>
    <p><a href="https://www.linkedin.com/in/moserss/">linkedin page</a></p>
    {{> footer}}
</body>

</html>